In [2]:
!python3 --version

Python 3.8.6

In [3]:
import pandas as pd
import seaborn as sns

In [5]:
print('ready for some more eth data?')

ready for some more eth data?

In [19]:
data = 'data/09_16_20/attestations_1.csv'

In [20]:
df = pd.read_csv(data)

In [29]:
df.size

355971

In [30]:
df.shape

(50853, 7)

In [26]:
df.columns

Index(['slot', 'beacon_block_root', 'attesting_indices', 'source_epoch',
       'source_block_root', 'target_epoch', 'target_block_root'],
      dtype='object')

In [28]:
df.describe()

                slot  source_epoch  target_epoch
count   50853.000000  50853.000000  50853.000000
mean   145055.493796   4503.067253   4532.205455
std     96928.844503   3045.874461   3029.099497
min       228.000000      0.000000      6.000000
25%     49713.000000   1551.000000   1552.000000
50%    148334.000000   4633.000000   4634.000000
75%    229257.000000   7162.000000   7163.000000
max    312409.000000   9761.000000   9762.000000

In [23]:
df.head()

,slot,beacon_block_root,attesting_indices,source_epoch,source_block_root,target_epoch,target_block_root
0,64590,0x2622bb6825cbd8041bfb719ecc8cec31a8e39881a472...,0000000000000000000000000001000000001000000000...,2017,0xd0fe548ffd8197f58814300ed02471ae8d386e0fc24e...,2018,0xabcbd38d70fd0123c136a4593d820bdef1fc94251a44...
1,64590,0x3de5c03066e9c33694f5af05d8c2150fc634ed96bffe...,1011100101101011001111010110111101001111111111...,2017,0xd0fe548ffd8197f58814300ed02471ae8d386e0fc24e...,2018,0xabcbd38d70fd0123c136a4593d820bdef1fc94251a44...
2,64590,0x3de5c03066e9c33694f5af05d8c2150fc634ed96bffe...,0011110100111110101011011110100111001011000111...,2017,0xd0fe548ffd8197f58814300ed02471ae8d386e0fc24e...,2018,0xabcbd38d70fd0123c136a4593d820bdef1fc94251a44...
3,64590,0x2622bb6825cbd8041bfb719ecc8cec31a8e39881a472...,0000000000000000000000000000000000000000000000...,2017,0xd0fe548ffd8197f58814300ed02471ae8d386e0fc24e...,2018,0xabcbd38d70fd0123c136a4593d820bdef1fc94251a44...
4,64590,0x2622bb6825cbd8041bfb719ecc8cec31a8e39881a472...,0000000000000000000000000000001000000000000000...,2017,0xd0fe548ffd8197f58814300ed02471ae8d386e0fc24e...,2018,0xabcbd38d70fd0123c136a4593d820bdef1fc94251a44...

In [31]:
df.tail()

,slot,beacon_block_root,attesting_indices,source_epoch,source_block_root,target_epoch,target_block_root
50848,37964,0xaec224ceeb5b762110803d91b8c28d96f000341c75b6...,0000000000000000000000000000000000000000000000...,1184,0x7a3ec53ae4dd06b003cdf7281e11f88be6b64e64ea05...,1185,0x48397603666de6bb3cf216832668006970c9fd5856ae...
50849,37964,0xaec224ceeb5b762110803d91b8c28d96f000341c75b6...,0000000000000000000000000000000000000000000000...,1184,0x7a3ec53ae4dd06b003cdf7281e11f88be6b64e64ea05...,1185,0x48397603666de6bb3cf216832668006970c9fd5856ae...
50850,37964,0xe5bc232783b46ac9fe01bc15895f6b32d1901095510b...,0000000000000000000000000000000000000000000000...,1185,0x48397603666de6bb3cf216832668006970c9fd5856ae...,1186,0xc293b248d7f0de88f85c8693eb9537dd271e71b0b530...
50851,37964,0x78962523169aa1448ebc81b82fb1f01eca73cb7f8316...,0000000000000000000000000000000000000000000000...,1185,0x48397603666de6bb3cf216832668006970c9fd5856ae...,1186,0xc293b248d7f0de88f85c8693eb9537dd271e71b0b530...
50852,37964,0x01454d5b36faafbb9b1ba3211fb6db33d6a5194f556a...,0000000000000000000000000000000000000000000100...,1184,0x7a3ec53ae4dd06b003cdf7281e11f88be6b64e64ea05...,1185,0x48397603666de6bb3cf216832668006970c9fd5856ae...

In [39]:
df.slot.unique().size

998